/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: white;
  margin: 0;
}
/* Header Section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 7px 15px;
  background: linear-gradient(to right,#2196f3,#ef5350, #f48fb1, #7e57c2, #26c6da, #43a047, #eeff41, #f9a825, #ff5722,#2196f3);
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.logo img {
  height: 50px;
  width: 80px;
  border-radius: 15px;
  transition: transform 0.7s ease;
}
.logo img:hover{
  transform: scale(1.39);
}
.search-bar{
  display: flex;
  align-items: center;
  width: 50%;
  border: 4px solid ;
  border-image: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722) 1;
}

.search-bar input {
  width: 100%;
  padding: 9px;
  border: none;
  border-radius: 5px 0px 0px 5px;
}
.search-bar input,button{
  box-shadow: 0px 0px 5px black;
}
.search-bar button {
  padding: 8px 12px;
  border: none;
  background-color: #000000;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  
}

.header-links {
  display: flex;
  align-items: center;
}
.header-links > div {
  margin-left: 20px;
  text-align: center;
}
.header-links a{
  font-weight: bold;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  border: 2px solid black;
  border-radius: 10px;
}

.cart a:hover{
  background: linear-gradient(to right,#2196f3,#ef5350, #f48fb1, #7e57c2, #26c6da, #43a047, #eeff41, #f9a825, #ff5722,#2196f3);
}
/* Navigation Menu */
.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  position: fixed;
  top: 71px;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}
.navbar ul {
  list-style: none;
  display: flex;
  margin-left: 20px;
}
.navbar ul li a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  font-weight: bold;
}

/*----slider---*/
.carousel {
  position: relative;
  width: 100%;
}
.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.carousel-inner .item {
  position: relative;
  display: none;
  width: 100%;
}
.carousel-inner .item.active {
  display: block;
}
.carousel-inner img {
width: 100%;
height: 400px;
border-radius: 20px;
border: 10px solid white;
transition: transform 0.5s ease;
}

.carousel-inner img:hover {
transform: scale(1.03); /* Slightly scales up the image on hover */
}
.carousel-control {
  position: absolute;
  top: 45%;
  bottom: 45%;
  width: 15%;
  color: rgb(255, 255, 255);
  font-size: 35px;
  text-align: center;
  cursor: pointer;
}
.carousel-control.left {
  left: 0px;
}
.carousel-control.right {
  right: 0px;
}
/*--------second slide-----*/
.images {
  position: relative;
  width: 100%;
}
.c-imgs {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.c-imgs .imgl {
  position: relative;
  display: none;
  width: 100%;
}
.c-imgs .imgl.active {
  display: block;
}
.c-imgs img {
  width: 100%;
  height: 400px;
  border-radius: 35px;
  border: 10px solid white;
  transition: transform 0.5s ease;
}
.c-imgs img:hover{
  transform: scale(1.03);
}
.carousel-controls {
  position: absolute;
  top: 45%;
  bottom: 45%;
  width: 15%;
  color: rgb(0, 0, 0);
  font-size: 35px;
  text-align: center;
  cursor: pointer;
}
.carousel-controls.l {
  left: 0px;
}
.carousel-controls.r {
  right: 0px;
}
/*--------third slide-----*/
.c-carousel {
position: relative;
width: 100%;
}
.c-carousel-inner {
position: relative;
overflow: hidden;
width: 100%;
}
.c-carousel-inner .carousel-item {
position: relative;
display: none;
width: 100%;
}
.c-carousel-inner .carousel-item.active {
display: block;
}
.c-carousel-inner img {
width: 100%;
height: 400px;
border-radius: 20px;
border: 10px solid white;
transition: transform 0.5s ease;
}
.c-carousel-inner img:hover {
transform: scale(1.03);
}
.c-carousel-control {
position: absolute;
top: 45%;
bottom: 45%;
width: 15%;
color: rgb(0, 0, 0);
font-size: 35px;
text-align: center;
cursor: pointer;
}
.c-carousel-control.left {
left: 0px;
}

.c-carousel-control.right {
right: 0px;
}
.redmi{
  color: black;
  justify-content: center;
  align-items: center;
}
#overlayHeader {
  padding: 15px;
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  color: white;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}

#contactus {
  display: none;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8); /* Initial transform state */
  opacity: 0; /* Initial opacity */
  width: 1100px;
  max-width: 95%;
  height: 570px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: opacity 0.5s ease, transform 0.5s ease;
  text-align: center;
}

@media only screen and (min-height: 800px) {
  #contactus {
    height: 340px;
  }
}
/* Button to close the overlay */
.contactusbtn {
  position: absolute;
  top: 8px;
  background-color: rgba(255, 255, 255, 0);
  right: 10px;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  padding: 2px 8px;
  box-shadow: none;
}
