* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: white;
  margin: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 7px 15px;
  background: linear-gradient(to right,#2196f3,#ef5350, #f48fb1, #7e57c2, #26c6da, #43a047, #eeff41, #f9a825, #ff5722,#2196f3);
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.logo img {
  height: 50px;
  width: 80px;
  border-radius: 15px;
  transition: transform 0.7s ease;
}
.logo img:hover{
  transform: scale(1.35);
}
.search-bar{
  display: flex;
  align-items: center;
  width: 50%;
  border: 4px solid ;
  border-image: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722) 1;
}
.search-bar input {
  width: 100%;
  padding: 9px;
  border: none;
  border-radius: 5px 0px 0px 5px;
}
.search-bar input,button{
  box-shadow: 0px 0px 5px black;
}
.search-bar button {
  padding: 8px 12px;
  border: none;
  background-color: #000000;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}
.header-links {
  display: flex;
  align-items: center;
}
.header-links > div {
  margin-left: 20px;
  text-align: center;
}
.header-links a{
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  border: 2px solid black;
  border-radius: 10px;
}
.cart :hover{
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
}
/* Navigation Menu */
.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  position: fixed;
  top: 71px;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); 
}
.navbar ul {
  list-style: none;
  display: flex;
  margin-left: 20px;
}
.navbar ul li a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  font-weight: bold;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  padding-top: 140px;
  color: black;
}

.card {
  background-color: rgb(255, 255, 255, 0.636);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.card-thumbnail {
  background-color: #666;
  text-align: center;
}

.card-thumbnail img {
  width: 100%;
  height: auto;
  display: block;
  border-bottom: 1px solid #444;
  transition: transfrom 1.0s ease;
}

.card-thumbnail img:hover{
  transform: scale(1.05);
}

.card-body {
  padding: 20px;
}

.card-body p {
  margin: 0 0 20px;
  font-size: 0.9em;
  color: #000000;
}

.btn {
  position: relative;
  display: inline-block;
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  border: none;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 0.9em;
  cursor: pointer;
  border-radius: 4px;
  bottom: 5px;
  text-decoration: none; /* Remove underline from the link */
  transition: background-color 0.3s ease,transfrom 0.3s ease;
  
}

.btn:hover {
  background-color: #ffffff;
  transform: scale(1.1);
}
/* -------overlay css--------*/

.redmi{
  color: black;
  justify-content: center;
  align-items: center;
}
/* The overlay frame */
#overlay {
  display: none;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8); /* Initial transform state */
  opacity: 0; /* Initial opacity */
  width: 1100px;
  max-width: 95%;
  height: 570px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: opacity 0.5s ease, transform 0.5s ease; /* Transition for opacity and transform */
}

@media only screen and (min-height: 700px) {
  #overlay {
    height: 340px;
  }
}

/* Overlay header style */
#overlayHeader {
  padding: 15px;
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  color: white;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}

/* Content inside the overlay */
#overlayContent {
  padding: 20px;
  display: flex;
  height: calc(100% - 50px);
  overflow-y: auto;
  scroll-behavior: smooth;
}

/* Swiper container inside the overlay */
.swiper-container {
  width: 42%;
  max-width: 42%;
  border-radius: 10px;
  overflow: hidden;
  position: fixed;
  top: 70px;
}
.swiper-slide img {
  width: 100%;
  border-radius: 10px;
  border: 5px solid white;
  padding-top: 0px;
}

/* Text content style */

/* Text styling */
#overlayContent h2 {
  margin-bottom: 5px;
  padding-left: 10px;
  padding-top: 30%;
}

.price {
  padding-left: 15px;
}

#overlayContent p {
  margin-bottom: 10px;
}

.add_to_cart {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-weight: bold;
  text-decoration: none;
  align-items: center;
  font-size: 1.5vw;
  
}
/* Button to close the overlay */
.close-btn {
  position: absolute;
  top: 8px;
  background-color: rgba(255, 255, 255, 0);
  right: 10px;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  padding: 2px 8px;
  box-shadow: none;
}

/*---------------*/
.all_cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.product-container {
  width: 210px;
  background-color: white;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
/* Thumbnail styling */
.card-t {
  width: 100%;
  border-bottom: 1px solid #ddd;
}
.card-t img {
  width: 100%;
  height: auto;
}
/* Card details styling */
.card-d {
  padding: 5px;
  text-align: left;
  padding-bottom: 5px;
}
.card-d h3 {
  font-size: 18px;
  margin-bottom: 5px;
}
.card-d p {
  font-size: 14px;
  color: #000000;
  margin-bottom: 10px;
  
}

/* Button styling */
.view-bm {
  padding: 10px 15px;
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease,transfrom 0.3s ease;
}

.view-bm:hover {
  background-color: #ffffff;
  transform: scale(1.1);
}


/*---------second overlay------- */
/* The overlay frame */
#poverlay {
  display: none;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8); /* Initial transform state */
  opacity: 0; /* Initial opacity */
  width: 1100px;
  max-width: 95%;
  height: 570px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

@media only screen and (min-height: 800px) {
  #poverlay {
    height: 340px;
  }
}
/* Button to close the overlay */
.close-overlay-btn {
  position: absolute;
  top: 8px;
  background-color: rgba(255, 255, 255, 0);
  right: 10px;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  padding: 2px 8px;
  box-shadow: none;
}

/* third overlay ------*/ 
#p3overlay {
  display: none;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8); /* Initial transform state */
  opacity: 0; /* Initial opacity */
  width: 1100px;
  max-width: 95%;
  height: 570px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

@media only screen and (min-height: 800px) {
  #p3overlay {
    height: 340px;
  }
}
/* Button to close the overlay */
.close-p3overlay-btn {
  position: absolute;
  top: 8px;
  background-color: rgba(255, 255, 255, 0);
  right: 10px;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  padding: 2px 8px;
  box-shadow: none;
}
/* fourth overlay ------*/ 

#prooverlay {
  display: none;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8); /* Initial transform state */
  opacity: 0; /* Initial opacity */
  width: 1100px;
  max-width: 95%;
  height: 570px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

@media only screen and (min-height: 800px) {
  #prooverlay {
    height: 340px;
  }
}
/* Button to close the overlay */
.close-prooverlay-btn {
  position: absolute;
  top: 8px;
  background-color: rgba(255, 255, 255, 0);
  right: 10px;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  padding: 2px 8px;
  box-shadow: none;
}

/* fifth overlay --------*/

#p5overlay {
  display: none;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8); /* Initial transform state */
  opacity: 0; /* Initial opacity */
  width: 1100px;
  max-width: 95%;
  height: 570px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

@media only screen and (min-height: 800px) {
  #p5overlay {
    height: 340px;
  }
}
/* Button to close the overlay */
.close-p5overlay-btn {
  position: absolute;
  top: 8px;
  background-color: rgba(255, 255, 255, 0);
  right: 10px;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  padding: 2px 8px;
  box-shadow: none;
}

/* sixth  overlay --------*/

#p6overlay {
  display: none;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8); /* Initial transform state */
  opacity: 0; /* Initial opacity */
  width: 1100px;
  max-width: 95%;
  height: 570px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

@media only screen and (min-height: 800px) {
  #p6overlay {
    height: 340px;
  }
}
/* Button to close the overlay */
.close-p6overlay-btn {
  position: absolute;
  top: 8px;
  background-color: rgba(255, 255, 255, 0);
  right: 10px;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  padding: 2px 8px;
  box-shadow: none;
}

/* sixth  overlay --------*/

#p7overlay {
  display: none;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8); /* Initial transform state */
  opacity: 0; /* Initial opacity */
  width: 1100px;
  max-width: 95%;
  height: 570px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

@media only screen and (min-height: 800px) {
  #p7overlay {
    height: 340px;
  }
}
/* Button to close the overlay */
.close-p7overlay-btn {
  position: absolute;
  top: 8px;
  background-color: rgba(255, 255, 255, 0);
  right: 10px;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  padding: 2px 8px;
  box-shadow: none;
}
/* eight overlay --------*/
#p8overlay {
  display: none;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8); /* Initial transform state */
  opacity: 0; /* Initial opacity */
  width: 1100px;
  max-width: 95%;
  height: 570px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

@media only screen and (min-height: 800px) {
  #p8overlay {
    height: 340px;
  }
}
/* Button to close the overlay */
.close-p8overlay-btn {
  position: absolute;
  top: 8px;
  background-color: rgba(255, 255, 255, 0);
  right: 10px;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  padding: 2px 8px;
  box-shadow: none;
}
/* contact us */
#contactus {
  display: none;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8); /* Initial transform state */
  opacity: 0; /* Initial opacity */
  width: 1100px;
  max-width: 95%;
  height: 570px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: opacity 0.5s ease, transform 0.5s ease;
  text-align: center;
}

@media only screen and (min-height: 800px) {
  #contactus {
    height: 340px;
  }
}
/* Button to close the overlay */
.contactusbtn {
  position: absolute;
  top: 8px;
  background-color: rgba(255, 255, 255, 0);
  right: 10px;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  padding: 2px 8px;
  box-shadow: none;
}




